
<body>
  
<div class="row"></div>
<!-- Get List Images -->
{{#each list}}
  <div class="column">
    <img src="{{this.url}}" alt="{{this.name}}" id="{{this._id}}" style="width:100%">
  </div>
{{/each}}
</div>
</body>
</html>
